<!DOCTYPE html>
<html>
    <head>
        <title>Ejercicio integrador</title>
    </head>
    <body>

    		el resultado es {{exito}} con mensaje <b>{{mensaje}}</b><br><br><br>

    		<a href="{{ path('login') }}">Volver</a>

  </body>
</html>